*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    background: rgba(187, 239, 253, 0.7);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: rgba(189, 223, 243, 0.3);
}

ul {
    /* padding: 0; */
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}

#main-doc {
    margin-left: 85px;
}

#navbar {
    /* width: 350px; */
    position: fixed;
    overflow: hidden;
    width: 23%;
    text-align: center;
    /* margin-left: 10px; */
    left: 0;
    background-color: rgba(22, 127, 141, 0.2) !important;
}

.title {
    font-size: 20px;
    padding: 10px;
}

.res {
    color: grey;
}

.div {
    color: rgb(246, 107, 149);
}

.syntax {
    color: rgb(25, 182, 182);
}

.highlight {
    background: rgba(255, 229, 100, 0.2);
}

.backColor {
    background-color: rgba(255, 255, 255, 0.1);
}

.idName {
    color: #8dc891;
}

.left5 {
    margin-left: -8px;
}

.right5 {
    margin-left: 8px;
}

.mgRight {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    /* color: red; */
}

.codePadding {
    padding: 15px;
}

.component {
    color: rgb(250, 200, 99);
}

.idColor {
    color: rgb(197, 165, 197);
}

.code {
    background: #282c34;
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.adding {
    background-color: rgba(187, 239, 253, 0.3);
}

.comment {
    color: #b2b2b2;
}

.tip {
    background-color: rgba(255, 229, 100, 0.3);
    border-left: 8px solid orange;
    padding: 12px;
}

header {
    font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
}

p {
    line-height: 25px;
}

.func {
    color: rgb(58, 134, 206);
}

.linkHover {
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    padding: 2px;
    border-bottom: 1px solid rgb(202, 198, 198);
}

.linkHover:hover {
    background-color: rgba(187, 239, 253, 0.7);
    border-bottom: 1px solid black;
}

.linkHover:visited {
    color: black;
}

.fontStyle {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navItem > ul {
    list-style: none;
    padding: 2px;
    border-bottom: 1px solid black;
    /* background: rgb(136, 200, 218); */
    font-weight: bold;
    cursor: pointer;
}

.navItem ul:hover {
    background-color: rgba(13, 77, 97, 0.2);
}

#FAQ > ul {
    border-bottom: none;
}

#crossorigin {
    font-family: monospace;
    font-size: 24px;
}

.hide {
    /* background: green; */
    display: none;
}

.show {
    display: block !important;
    /* background: rgba(158, 227, 235, 0.7) !important; */
    animation: fadeIn 1s;
    color: white;
}

.show > ol > a {
    /* color: white; */
    /* font-weight: bold; */
    font-size: 20px;
}

.show > ol > a:hover {
    /* color: white; */
    font-weight: bold;
    /* font-size: 21px; */
}

.listInline > * {
    width: fit-content;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 610px) {
    #container {
        /* grid-auto-flow: row; */
        display: flex;
        flex-direction: column-reverse;
        margin: 5px !important;
        margin-right: 0;
    }
    #navbar {
        width: 100%;
        text-align: center;
        position: relative;
        margin-left: 0px !important;
    }
    #contentNav {
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid rgba(13, 77, 97, 0.7);
    }

    #main-doc {
        margin-left: 0 !important;
    }
}

@media (max-width: 376px) {
    #imgReact {
        width: 250px;
    }
}
